<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Inicio</title>
  <link rel="stylesheet" href="../../public/home.css" />
</head>
<body>
  <div class="container">
    <h1>Bienvenido</h1>
    <button class="btn btn-products" onclick="window.location.href='/realtimeproducts'">
      Ver listado de productos 
    </button>
    <button class="btn btn-cart" onclick="window.location.href='/api/carts/684a1a8a1f4c063e1d212b31'">
      Ver carrito
    </button>
  </div>
</body>
</html>
